Flask
gunicorn
Werkzeug
tensorflow
pandas
joblib
scikit-learn
imblearn
scipy
spacy-langdetect
deep_translator
bs4
emoji
textblob
vaderSentiment
accelerate 
sentencepiece
transformers
contractions
pyspellchecker
wordsegment
spacy
spacy-transformers
torch